* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #4A4A4A;
}

body {
    display: grid;
    grid-template-columns: 330px 1fr;
    height: 100vh;
    background: #F4F1ED; /* Soft beige background */
}

header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0D8D0; /* Light gray-beige border */
    font-size: 1.1em;
    color: #4A4A4A; /* Soft dark gray text */
}

nav {
    background: #DED6CC; /* Warm light brown for the sidebar */
    color: #4A4A4A; /* Soft dark gray text */
    padding: 0;
}

ul {
    list-style-type: none;
}

nav ul {
    margin: 30px;
    font-size: 18px;
    font-weight: 500;
}

nav li {
    text-align: center;
    margin-top: 20px;
    background: #c4b4a9; 
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    color: #FFFFFF; 
}

nav li:hover {
    background: #A4958B; 
}

.wrapper {
    color: #4A4A4A;
    background: #d5c5b9;
    padding: 20px;
}

.sub-button {
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    background: #948881; 
    color: #FFFFFF; 
    border: none;
    font-size: 1em;
    min-width: 150px;
}

.sub-button:hover {
    background: #A4958B; 
}

#root {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.contentContainer {
    border: 1px solid #E0D8D0; 
    border-radius: 5px;
    padding: 15px;
    background: #FFFFFF;
}
/* Remove default button styles */
a button {
    background: none;
    color: inherit;
    font: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* Additional styling for paragraphs in the lab task condition */
#labContent p {
    margin-bottom: 15px; /* Space between paragraphs */
    font-size: 1.1em; /* Adjust font size if needed */
}
